<nav class="navbar navbar-default navbar-static-top">
<div class="container">
	<div class="navbar-header">
 		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
<!--		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
		<a class="navbar-brand" href="{{ site.baseurl }}/"> <img style="width:150px; height 50px;" src="{{site.baseurl}}/assets/img/logo-top.png"></a>
	</div>
	
<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
	
		{% for item in site.toc %}
			{% if item.subfolderitems %}				
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.title }}<span class="caret"></span> </a>
				<ul class="dropdown-menu multi-level" role="menu">
	
				{% for entry in item.subfolderitems %}
					 {% if entry.subsubfolderitems %}
						<li class="dropdown-submmenu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ entry.title }}<span class="caret"></span> </a>
							<ul class="dropdown-menu" role="menu">	
	
								{% for subentry in entry.subsubfolderitems %}
									<li><a href="{{ site.baseurl }}{{ subentry.url }}">{{subentry.page}}</a></li>			
								{% endfor %}
							</ul>								
						</li>
					 {% else %}
					<li><a href="{{ site.baseurl }}{{ entry.url }}">{{entry.page}}</a></li>
					{% endif %}
				{% endfor %}
								
				</ul>
			</li>
			{% else %}	
			<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
			{% endif %}
					
		{% endfor %}	
			
			
			

 <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    
    <li class="dropdown-submenu pull-left">
    <a tabindex="-1" href="#">More options</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
            <li><a tabindex="-1" href="#">Second level link</a></li>
        </ul>
    </li>	
			
			
			
			
		</ul>
				
	</div>
</div>
</nav>


<style>
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: -100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    right: 100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>

