<script src="{{site.baseurl}}/assets/js/share.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">	
<a href="javascript:window.location=waCurrentPage();" class="whatsapp float">
<i class="fab fa-whatsapp my-float"></i>
</a>

<style>
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#00FF00;
	color:#fff;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #00b300;
	z-index:100;
}
.my-float{
	margin-top:16px;
}
a.whatsapp {
	cursor: pointer;
}
</style>
