<html>
{% include head.html %}
<body cz-shortcut-listen="true" id="bg-image" onLoad="typeWriter()">
{% include navigation.html %}
    <div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron" style="background:rgb(0,0,0,0.5)!important">
            <h1>{{ page.title }}</h1>
            <p id="app"></p>
        </div>
{% include footer.html %}
    </div>
{% include scripts.html %}

<script>
var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true,
    delay: 30,
    cursor: "_"
});

typewriter.typeString('{{ site.description }}')
    .pauseFor(2500)
    .start();
</script>

</body>
</html>
